[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
charset-normalizer = "*"
docopt = "*"
google-api-core = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
googleapis-common-protos = "*"
httplib2 = "*"
numpy = "*"
pandas = "*"
pdfkit = "*"
python-dateutil = "*"
python-slugify = "*"
requests = "*"
wkhtmltopdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
